.buy-form {
   display: flex;
   min-height: 100%;
   color: #ffffff;
   padding: 0.6rem 1.2rem;
   form {
      width: 100%;
      display: flex;
      flex-direction: column;
      .total-section {
         margin-top: auto;
         h3 {
            display: flex;
            justify-content: space-between;
            font-size: 1.3em;
            font-weight: 400;
            margin: 1rem 0;
         }
         .buy-all {
            border: none;
            color: #fff;
            background: #254cd6;
            border-radius: 0.3rem;
            width: 100%;
            display: inline-block;
            padding: 5px 0;
         }
      }
   }
   .stripe-card-element {
      border: 1px solid #d3d3d3;
      padding: 0.5rem;
      border-radius: 0.3rem;
   }
}

.InputContainer .InputElement {
   color: #fff;
}
