.custom-toast {
   transition: all ease 0.3s;
   background: rgba(0, 0, 0, 0.8);
   position: fixed;
   left: 10px;
   bottom: 2vh;
   color: #fff;
   padding: 16px 24px;
   border-radius: 3px;
   opacity: 0;
   transform: translateY(50px);
   font-weight: 500;
   z-index: -1;
}

.custom-toast.active {
   z-index: 999999;
   opacity: 1;
   transform: translateY(0);
}
